.idea/
__pycache__/
data/*.*
data/drafts/*.*
data/seasons/*.*
output/
results/
src/**/__pycache__/
venv/

!data/potential_api_calls.json
!data/team_owners.json.sample
!data/drafts/sample-picks-file.txt

.env
