certifi==2019.11.28
chardet==3.0.4
click==7.1.2
Flask==1.1.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
ohmysportsfeedspy==2.1.0
python-dotenv==0.14.0
requests==2.24.0
simplejson==3.17.0
urllib3==1.25.7
Werkzeug==1.0.1
