{% extends "page_base.html" %}

{% block title %}All Raw Statistics{% endblock title %}

{% block content %}
<table class="table table-sm table-striped">
    <thead class="thead-dark">
    <tr>
        <th>owner</th>
        <th>player</th>
        <th>type</th>
        <th>H</th>
        <th>HR</th>
        <th>R</th>
        <th>RBI</th>
        <th>SB</th>
        <th>BB</th>
        <th>points</th>
    </tr>
    </thead>
    <tbody>
{% for roster in rosters %}
<tr>
    <td>{{ roster.owner.display_name }}</td>
    <td>{{ roster.player.player.last_name }}, {{ roster.player.player.first_name }}</td>
    <td>{{ roster.player.player.player_type }}</td>
    <td>{{ roster.player.player.hits }}</td>
    <td>{{ roster.player.player.home_runs }}</td>
    <td>{{ roster.player.player.runs }}</td>
    <td>{{ roster.player.player.rbi }}</td>
    <td>{{ roster.player.player.stolen_bases }}</td>
    <td>{{ roster.player.player.walks }}</td>
    <td>{{ roster.player.player.points }}</td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}