{% extends "page_base.html" %}

{% block title %}Raw Pitcher Statistics{% endblock title %}

{% block content %}
<table class="table table-sm table-striped">
    <thead class="thead-dark">
    <tr>
        <th>owner</th>
        <th>player</th>
        <th>type</th>
        <th>IP</th>
        <th>SV</th>
        <th>SO</th>
        <th>W</th>
        <th>points</th>
    </tr>
    </thead>
    <tbody>
{% for roster in rosters %}
<tr>
    <td>{{ roster.owner.display_name }}</td>
    <td>{{ roster.player.player.last_name }}, {{ roster.player.player.first_name }}</td>
    <td>{{ roster.player.player.player_type }}</td>
    <td>{{ roster.player.player.innings_pitched }}</td>
    <td>{{ roster.player.player.saves }}</td>
    <td>{{ roster.player.player.strikeouts }}</td>
    <td>{{ roster.player.player.wins }}</td>
    <td>{{ roster.player.player.points }}</td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}